.form1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form1 img{
    width: 50%;
    height: auto;
}

.form1 form{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

